* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: white;
  color: #333;
}

.app {
  height: 100vh;
  display: grid;
  grid-template-rows: 50px auto;
}

.navbar {
  background-color: #000;
  color: white;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}

.main-layout {
  display: grid;
  grid-template-columns: 450px 1fr 1fr;
  grid-template-areas: "sidebar todo completed";
  height: 100%;
}

.sidebar {
  grid-area: sidebar;
  overflow-y: auto;
}

.todo {
  grid-area: todo;
  overflow-y: auto;
}

.completed {
  grid-area: completed;
  overflow-y: auto;
}

@media (max-width: 1024px) {
  .main-layout {
    grid-template-columns: 450px 1fr;
    grid-template-areas:
      "sidebar todo"
      "sidebar completed";
  }

  .todo,
  .completed {
    padding: 1rem;
  }
}

@media (max-width: 640px) {
  .main-layout {
    grid-template-columns: 1fr;
    grid-template-areas:
      "todo"
      "completed"
      "sidebar";
  }

  .sidebar,
  .todo,
  .completed {
    padding: 1rem;
  }
}

.no-tasks {
  font-size: 1rem;
  color: #666;
  text-align: center;
  padding: 1rem;
}
