* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.app {
  height: 100vh;
  display: grid;
  grid-template-rows: 50px auto;
  background-color: aqua;
}


.main-layout {
  display: grid;
  grid-template-columns: 450px 1fr 1fr;
  background-color: aquamarine;
}

.sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem;
  gap: 1.3rem;
  width: 100%;
  background-color: #ac620e;
}


.navbar {
  background: linear-gradient(to right, #3b82f6, #2563eb);
  color: white;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.search-box {
  margin-bottom: 2rem;
}

.search-box input {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-box input:focus {
  border-color: #3b82f6;
  background-color: #fff;
}


.todo-list{
  display: flex;
  flex-direction: column;
  background-color: #2563eb;
  padding: 1rem;
}

.section-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 1rem;
}

.task-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-items: center;
}

.task-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 1rem 1.2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px;
  transition: box-shadow 0.3s;
}

.task-card:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.task-card-header {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.task-card-header input {
  margin-bottom: 0.5rem;
}

.task-card-header h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #111;
  text-align: center;
}

.task-card-details {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 0.95rem;
  color: #444;
}

.task-card-details p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.95rem;
  gap: 0.5rem;
  color: #444;
  margin: 0.3rem 0;
}

.task-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.task-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #111;
}

.task-card-header input[type="checkbox"] {
  transform: scale(1.4);
  cursor: pointer;
}
