.todo-list {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 1rem;
  border-right: 2px solid #C4C4C4;
}

.todo-list h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.task-title{
  font-size: 1.1rem;
  color: #1a6cca;
  font-weight: 700;
}

.section-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 1rem;
}

.task-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-items: center;
}

.task-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 1rem 1.2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px;
  transition: box-shadow 0.3s;
}

.task-card:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.task-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid #C4C4C4;

}

.task-options {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon-button {
  background: none;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  color: #1a6cca;
  transition: transform 0.2s ease;
}

.icon-button:hover {
  transform: scale(1.2);
  color: #b00020;
}
.task-card-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.95rem;
  color: #444;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-left {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.detail-label {
  font-weight: 600;
  color: #111;
}

.icon-detail {
  color: #3b82f6; 
  font-size: 1rem;
}

.priority-value {
  font-weight: bold;
}


.priority-value.urgent {
  color: #dc2626;
}
.priority-value.high {
  color: #d3d612;
}
.priority-value.normal {
  color: #10b864;
}
.priority-value.low {
  color: #16a34a;
}

.detail-value {
  font-weight: 500;
  color: #222; 
}

.priority-value {
  font-weight: bold;
}


.priority-value.urgent {
  color: #dc2626;
}
.priority-value.high {
  color: #f97316;
}
.priority-value.normal {
  color: #3cb80b;
}
.priority-value.low {
  color: #16a34a;
}
